<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de Contato</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
	background-color: #efefef;
}

.containerGeral {
	background-color: #fff;
	width: 600px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 6px;
	box-shadow: 3px 3px 10px #999;
	
	display: flex;
	flex-direction: column;
}

.containerGeral h1{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -35px;
}
</style>
</head>
<body>
	<div class="containerGeral">
		<h1>Cadastro de Contato</h1>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${contato}"
				th:action="@{/adduser}" method="post" style="margin: 50px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<div class="col-md-12">
								<label>Nome</label> <input type="text"
									class="form-control input-sm" th:field="*{nome}"
									placeholder="Informe o nome" maxlength="150" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12">
								<label>Email</label> <input type="text"
									class="form-control input-sm" th:field="*{email}"
									placeholder="Informe o email" maxlength="150" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12">
								<label>Telefone</label> <input type="text"
									class="form-control input-sm" th:field="*{telefone}"
									placeholder="Informe o telefone" maxlength="150" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>