<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Alteração de Contato</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
	background-color: #efefef;
}

.containerGeral {
	max-width: 550px;
	width: 100%;
	background-color: #fff;
	padding: 20px 35px;
	border-radius: 5px;
	box-shadow: 3px 3px 15px #999;
}
</style>

</head>
<body>
	<div class="containerGeral">
		<h2>Editar Contato</h2>
		<form th:action="@{/update/{id}(id=${contato.id})}"
			th:object="${contato}" method="post">
			<div class="form-group">
				<label for="nome">Nome</label> <input class="form-control input-sm"
					type="text" th:field="*{nome}" />
			</div>
			<div class="form-group">
				<label for="cpf">Email</label> <input class="form-control input-sm"
					type="text" name="email" th:field="*{email}" />
			</div>
			<div class="form-group">
				<label for="genero">Telefone</label> <input
					class="form-control input-sm" type="text" name="telefone"
					th:field="*{telefone}" />
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="salvar">
			</div>
		</form>
	</div>
</body>
</html>